$bg-color: #03506f;
$container-color: #111d5e;
$red: #c70039;
$orange: #f37121;
$spark: #c0e218;

body {
  background-color: $bg-color;
  .App {
    position: absolute;
    height: 600px;
    width: 500px;
    background-color: $container-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .form {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      input {
        outline: none;
        height: 25px;
        background-color: $red;
        font-size: 20px;
      }
    }
    .todolist {
      color: whitesmoke;
      display: flex;
      flex-direction: column;
      .todo {
        height: 30px;
        font-size: 22.5px;
        line-height: 25px;

        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border: solid 1px $red;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        .text {
          margin-left: 5px;
          width: 70%;
          input {
            outline: none;
            width: 100%;
          }
        }
        .btn-con {
          width: 20%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .btn {
            padding-left: 2.5px;
            padding-right: 2.5px;
            border: solid 1px $orange;
          }
          .btn:hover {
            color: $spark;
            cursor: pointer;
            transform: scale(1.1);
          }
        }
      }
    }
  }
  .App::-webkit-scrollbar {
    display: none;
  }
}
