$bg-color: #03506f;
$container-color: #111d5e;
$red: #c70039;
$orange: #f37121;
$spark: #c0e218;

body {
  background-color: $bg-color;
  .App {
    position: absolute;
    height: 600px;
    width: 500px;
    background-color: $container-color;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    .form {
      margin-top: 10px;
      margin-bottom: 10px;
      display: flex;
      justify-content: center;
      input {
        outline: none;
        height: 25px;
        background-color: $red;
        font-size: 20px;
      }
    }
    .todolist {
      color: whitesmoke;
      display: flex;
      flex-direction: column;
      .todo {
        height: 30px;
        font-size: 22.5px;
        line-height: 25px;

        margin-top: 10px;
        margin-left: 10px;
        margin-right: 10px;
        border: solid 1px $red;
      }
    }
  }
  .App::-webkit-scrollbar {
    display: none;
  }
}
